.book {
    padding: 120px 0 123px;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .book__info {
            &-title {
                margin-bottom: 25px;
            }
            &-descr {
                margin-bottom: 19px;
            }
        }
    
        .book__media {
            background-image: url(../../images/book/bg.svg);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
            padding: 43px 95px 55px 86px;
        }
    }
}

@media(max-width: 720px) {
    .book {
        padding: 80px 0px;
        &__inner {
            .book__info{
                padding-left: 20px;
            }
            .book__media {
                padding: 43px 40px 55px 50px;
            }
        }
    }
}

@media(max-width: 450px) {
    .book {
        &__inner {
            position: relative;
            .book__info{
                padding-left: 10px;
                &-title {
                    font-size: 26px;
                    line-height: 31px;
                }
                &-btn {
                    position: absolute;
                    bottom: -60px;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
            .book__media {
                padding: 43px 10px 55px 50px;
            }
        }
    }
}



