.footer {
    .newsletter {
        padding: 54px 0 60px;
        background-color: var(--pink-color);
        &__inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .newsletter__about {
                &-title {
                    margin-bottom: 26px;
                }
            }
        
            .newsletter__form {
                max-width: 50%;
                display: flex;
                flex-wrap: wrap;
                position: relative;
                &-input {
                    width: 100%;
                    border-radius: 255px;
                    border: 1px solid #F2EFE6;
                    padding: 15px 25px;
                    margin-bottom: 11px;
                }
                &-btn {
                    position: absolute;
                    right: 0;
                }
                &-label {
                    font-size: 14px;
                    line-height: 21px;
                }
                &-link {
                    color: var(--green-color);
                }
            }
        }
        
    }
    .footer__top {
        padding: 45px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid var(--pink-color);
        .footer__tagline {
            font-family: "Recoleta", sans-serif;
            font-size: 24px;
            font-weight: 600;
            line-height: 36px;
        }
        .social {
            &__list {
                display: flex;
                gap: 14px;
                align-items: center;
                &-item {
                    transition: all 0.5s;
                    &:hover {
                        transform: scale(1.2);
                    }
                }
            }
        }
    }
    
    .footer__policy {
        display: flex;
        justify-content: space-between;
        padding: 24px 0;
        font-size: 14px;
        line-height: 21px;
        &-text {
            max-width: 40%;
        }
        &-links {
            display: flex;
            gap: 14px;
            color: var(--green-color);

        }
        &-link {
            border-bottom: 1px solid transparent;
            transition: all 0.5;
            &:hover {
                border-bottom: 1px solid var(--green-color);
            }

        }
    }
}

@media (max-width: 780px) {
    .footer {
        .newsletter {
            &__inner {
                flex-direction: column;
                .newsletter__about {
                    margin-bottom: 30px;
                }
                .newsletter__form {
                    max-width: 70%;
                    &-input {
                        padding: 9px 17px;
                    }
                    &-btn {
                        padding: 9px 17px;
                    }
                    &-label {
                        text-align: center;
                    }
                }
            }
            
        }

        .footer__top {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .footer__tagline {
                margin-bottom: 40px;
            }
        }

        .footer__policy {
            flex-wrap: wrap;
            justify-content: center;
            &-text {
                max-width: 100%;
                margin-bottom: 15px;
                text-align: center;
            }
        }

    }
}

@media (max-width: 480px) {
    .footer {
        .newsletter {
            &__inner {
                .newsletter__form {
                    max-width: 80%;
                }
            }
        }

        .footer__policy {
            &-links {
                display: flex;
                gap: none;
                justify-content: space-between;
                font-size: 10px;
                line-height: 15px;
                align-items: center;
                

            }
        }

    }
}






