.header {
    background-color: var(--dark-green-color);
    color: var(--white-color);
    .header__top {
        padding: 20px 0;
        &-inner {
            display: flex;
            justify-content: space-between;
            .header__info {
                display: flex;
                align-items: center;
                gap: 24px;
                &-btn.login {
                    color: var(--white-color);
                    transition: all 0.5s;
                }
                &-icon {
                    &-img {
                        width: 36px;
                        height: 36px;
                        display: none;
                    }
                }
            }
        }
        &.fixed {
            position: fixed;
            z-index: 100;
            background-color: var(--dark-green-color);
            left: 0;
            right: 0;
        }
    }

    .promo {
        background-image: url(../../images/header/promo.svg);
        background-repeat: no-repeat;
        background-position: bottom right;
        background-size: contain;
        &__inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            min-height: calc(100vh - 98px);
            position: relative;
            .promo__info {
                padding-top: 120px;
                min-width: 475px;
                &-title {
                    max-width: 391px;
                    margin-bottom: 18px;
                    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    font-family: "Recoleta", sans-serif;
                    font-size: 48px;
                    font-weight: 600;
                    line-height: 65.25px;
                }
                &-descr {
                    max-width: 475px;
                    font-size: 18px;
                }
            }
        }
    }
}

@media (max-width: 1100px) {
    .header {
        .promo {
            background-position: bottom center;
            &__inner {
            flex-direction: column;
            align-items: center;
            .promo__info {
                padding-top: 80px;
                &-title {
                    max-width: 90%;
                    text-align: center;
                    margin: 0 auto;
                    margin-bottom: 20px;
                }

                &-descr {
                    max-width: 80%;
                    text-align: center;
                    margin: 0 auto;
                    margin-bottom: 15px;
                }
            }
        }

            
        }

    }
    
}

@media(max-width: 700px) {
    .header {
        .header__top {
            .header__info {
                gap: 14px;
            }
        }
    }
}

@media(max-width: 550px) {
    .header {
        .header__top {
            position: relative;
            .header__info {
                gap: 12px;
                &-phone {
                    display: none;
                }
                &-btn.login {
                    display: none;
                }
                &-icon {
                    &-img {
                        display: block;
                    }
                }
            }
        }

        .promo {
            &__inner {
                .promo__info {
                    min-width: auto;
                    &-title {
                        font-size: 42px;
                        line-height: 51px;
                    }
                }
            }
        }
    }
}

@media(max-width: 440px) {
    .header {
        .header__top {
            position: relative;
            .logo {
                width: 120px;
                &__img {
                    object-fit: cover;
                    width: 70%;
                }
            }
            .header__info {
                gap: 11px;
                &-phone {
                    display: none;
                }
                &-btn.login {
                    display: none;
                }
                &-icon {
                    &-img {
                        display: block;
                    }
                }
            }
        }

        .promo__inner {
            min-height: calc(100vh - 78px);
        }
    }
}