.start {
    background-image: url(../../images/start/bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom bottom;
    padding: 114px 0 124px;
    text-align: center;
    color: var(--white-color);
    &__title {
        margin-bottom: 26px;
    }
    &__descr {
        margin-bottom: 18px;
    }
    &__btn {
        background-color: #FAB5A0;
        border-radius: 160px;
        padding: 15px 25px;
        font-size: 16px;
        font-weight: 600;
        transition: all 0.5s;
        &:hover {
            transform: scale(1.1);
        }
    }
}
